:root {
  --color-border: #424242;
  --color-bg: #111111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  position: relative;
  background-color: var(--color-bg);
  font-size: 1.2rem;
  color: hsla(180, 7%, 75%, 0.9);
  overflow-x: hidden;
}

input,
button,
a {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

section,
header {
  position: relative;
  z-index: 10;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
  pointer-events: none;
}

.lines .line-1,
.line-2,
.line-3,
.line-4 {
  width: 1px;
  min-height: 100%;
  background-color: var(--color-border);
  position: relative;
}

.shapes {
  position: absolute;
  height: 100%;
  padding: 10rem 0;

  top: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lines .circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 4px solid var(--color-border);
  background-color: var(--color-bg);
}

.lines .x-shape {
  position: relative;
  width: 1rem;
  height: 1rem;
}

.lines .x-shape::after {
  content: "";
  position: absolute;
  left: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 4px;
  height: 100%;
  background-color: var(--color-border);
  border-radius: 5px;
}

.lines .x-shape::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  width: 4px;
  height: 100%;
  background-color: var(--color-border);
  border-radius: 5px;
}
